# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Python
__pycache__/
*.pyc
*.pyo
*.pkl
.env
venv/
.venv/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build outputs
client/dist/
